SECRET_KEY=change-me-to-a-long-random-string
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Set to True to use PostgreSQL instead of the default SQLite dev database
USE_POSTGRES=True
DB_NAME=medex_qkze
DB_USER=mdex
DB_PASSWORD=4OzQoB9UkPedP1LyOqYTysGHAL7WYKvj
DB_HOST=dap57qv40ujc73bk47fg-a.singapore-postgres.render.com/medex_qkze
DB_PORT=5432

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
